<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="Restlet Full" sequenceNumber="60">
<locations>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.freemarker.feature.feature.group" version="2.3.0.201104101347"/>
<unit id="org.freemarker.source.feature.feature.group" version="2.3.0.201104101347"/>
<repository location="http://quickiemart.springfieldusa.net/Targets/FreeMarker"/>
</location>
<location path="${targets}/Extras" type="Directory"/>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.7.0.v20110502-7M7W8Z8eNV4UqfbhicjDN-ROgjNc"/>
<repository location="http://download.eclipse.org/releases/indigo"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.restlet.ext.json.feature.feature.group" version="2.0.9.201108281038"/>
<unit id="org.restlet.feature.feature.group" version="2.0.9.201108281038"/>
<unit id="org.restlet.ext.mxl.feature.feature.group" version="2.0.9.201108281038"/>
<unit id="org.restlet.ext.freemarker.feature.feature.group" version="2.0.9.201108281038"/>
<unit id="org.restlet.ext.wadl.feature.feature.group" version="2.0.9.201108281038"/>
<unit id="org.restlet.ext.servlet.feature.feature.group" version="2.0.9.201108281038"/>
<repository location="http://quickiemart.springfieldusa.net/Targets/Restlet"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.e4.core.tools.feature.feature.group" version="0.10.0.v20110613-2030-28F1EVVFNMFz-Mh8XF_D"/>
<repository location="http://download.eclipse.org/e4/updates/0.11-I-builds"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="com.mongodb.feature.feature.group" version="2.7.0"/>
<repository location="http://quickiemart.springfieldusa.net/Targets/MongoDB"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipselabs.mongo.emf.feature.feature.group" version="0.4.0.201108271853"/>
<unit id="org.eclipselabs.emf.query.feature.feature.group" version="0.4.0.201108271853"/>
<unit id="org.eclipselabs.mongo.emf.freemarker.feature.feature.group" version="0.4.0.201108271853"/>
<unit id="org.eclipselabs.mongo.emf.log.feature.feature.group" version="0.4.0.201108271853"/>
<unit id="org.eclipselabs.mongo.emf.junit.feature.feature.group" version="0.4.0.201108271853"/>
<unit id="org.eclipselabs.mongo.emf.log.source.feature.feature.group" version="0.4.0.201108271853"/>
<unit id="org.eclipselabs.mongo.emf.source.feature.feature.group" version="0.4.0.201108271853"/>
<unit id="org.eclipselabs.mongo.junit.source.feature.feature.group" version="0.4.0.201108271853"/>
<unit id="org.eclipselabs.emf.query.source.feature.feature.group" version="0.4.0.201108271853"/>
<unit id="org.eclipselabs.mongo.emf.freemarker.source.feature.feature.group" version="0.4.0.201108271853"/>
<repository location="http://quickiemart.springfieldusa.net/Targets/MongoEMF"/>
</location>
</locations>
</target>
